<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5 - 67676767676767</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="nav">
            <a href="/">✈☼✈ Home</a>
            <a href="/page2">♠¶§ Second</a>
            <a href="/page3">☻►♣ Third</a>
        </div>
        
        <h1 class="blinking">☺☻♥♦ BRAINROT WEBSITE ♣♠•◘</h1>
        
        <div class="content">
            <p>§ 6 or 7 loser §</p>
            
            <div class="image-container moving">
                <img src="/static/bad_image.jpg" alt="Confusing image" width="200" height="150">
            </div>
            
            <p class="blinking">¶ ANSWER THE QUESTION 6 or 7? ¶</p>
        </div>
        
        <h2 class="moving">▼ Scroll For More Pain! ▲</h2>
        
        <div class="content rotating">
            <p>◘ LOSER ◘</p>
        </div>
    </body>
</html>