<!DOCTYPE html>
<html>
    <head>
        <title>Page 2 - ONLY GETS BETTER</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body style="background-color: #ffff00;">
        <div class="nav">
            <a href="/">✈☼✈ Home</a>
            <a href="/page2">♠¶§ Second</a>
            <a href="/page3">☻►♣ Third</a>
        </div>
        
        <h1 style="color: blue; text-align: left; transform: rotate(8deg);" class="blinking">
            ☼  ♂
        </h1>
        
        <div class="content" style="background-image: linear-gradient(red, green);">
            <p>♀ 67 or 67 ♀</p>
            
            <img src="/static/bad_image.jpg" alt="Another confusing image" 
                 style="float: left; margin: 15px; border: 10px dotted purple; transform: rotate(-15deg);" 
                 width="250" height="180">
            
            <p>♂ *#&^*&@#*&#*@#@#(*@) ♂</p>
        </div>
        
        <h2 class="moving" style="color: black;">♫ @&#*&@^#&@H#*&@Y*DGENOI@JEIU@HJEB@EI@EUI@EIU@EIU@ ◘</h2>
        
        <div class="content">
            <p class="blinking">○ TUNG TUNG SAHUR OR BALLERINA CAPPUCINA ○</p>
        </div>
    </body>
</html>