<!DOCTYPE html>
<html>
    <head>
        <title>Page 3 - THE BEST ONE</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body style="background-color: #00ff00;">
        <div class="nav">
            <a href="/">✈☼✈ Home</a>
            <a href="/page2">♠¶§ Second</a>
            <a href="/page3">☻►♣ Third</a>
        </div>
        
        <h1 style="color: magenta; text-align: center; transform: rotate(-12deg);" class="blinking moving">
        ♀  ♂
        </h1>
        
        <div class="content" style="background-image: radial-gradient(blue, orange);">
            <p>☺ EVERYTHING SUCKS ☺</p>
            
            <div style="text-align: center;">
                <img src="/static/bad_image.jpg" alt="Final confusing image" 
                     style="border: 15px double red; transform: rotate(20deg); margin: 20px;" 
                     width="300" height="200">
            </div>
            
            <p class="blinking">♠ 6767677 ♠</p>
        </div>
        
        <h2 class="moving" style="color: white; background-color: black; padding: 10px;">
        ☻ THE END OF BRAINROT ♫
        </h2>
        
        <div class="content">
            <p>► GOOD LUCK LOSER ▲</p>
        </div>
    </body>
</html>